<section class="orders-show">

  <header class="page-header">
   
  </header>
  <div class="order-summary jumbotron">
    <h4>Thank you for your order: <%= @order.email %></h4>
 
 <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @order.line_items.each do |item| %>
          <%= render 'item', item: item %>
        <% end %>
      </tbody>
      
    </table>
    <h4>Your order total:  <%= humanized_money_with_symbol @order.total_cents / 100.0 %></h4>
     </div>
    <%= link_to "Back to shop", root_path, class: 'btn btn-lg btn-primary' %>
</section>



