<h1>About</h1>

<h3>Looking for a way to add some life to your home?</h3>
<p> Jungle is an online plant shop with a wide variety of beautiful plants and flowers, as well as all the accessories you need to keep them healthy and happy. Our prices are unbeatable! So what are you waiting for?</p>
